<div class = "container" style="margin-top:50px" >
    <div class="row">
        <div ><p>욕한놈 추노하기</p></div>
    </div>
    <div class="row">
        <form action = "/home/write" method="POST"> 
        <%= current_user.email %>
            <div class="ui form">
                <div class="field">
                    <label>욕을 써주세요</label>
                <textarea name="content"></textarea>
                </div>
                
                <div class="ui segment">
                    <div class="field">
                        <label>잠깐, 욕을 마무리하기 전에!</label>
                        <div class="ui toggle checkbox">
                            <input id="sentCheckBox" type="checkbox" name="sent" tabindex="0">
                            <label>상대방의 메일로 보내겠습니까?</label>
                        </div>
                    </div>
                    <div id = "receiverEmail" class ="field">
                        <input type="email" name="receiver" placeholder="개자식 이메일"/>
                    </div>
                    
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input id="posting" type="checkbox" name="posting" tabindex="0">
                            <label>게시판에 포스팅을 하시겠습니까?</label>
                        </div>
                    </div>
                </div>
                <div class = "ui segment">
                    <div class = "field">
                        <p><a class="ui red label">주의</a>   완료버튼을 누르는 순간, 글에 욕설이 추가되어 전송됩니다. 본 서비스는 어떠한 민사, 형사상의 책임을 지지 않으며, 님들끼리 싸워도 저희는 모르는 일입니다.</p>
                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" name="posting_switcher" tabindex="0">
                                <label>위 내용에 동의</label>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" id="writebtn" class="ui green button" title="you little scallywag">Save</ button>
            </div>
        </form>
    </div>
</div>

<style>
#receiverEmail{
    display:none;
}
</style>

<script>
    $("#sent").click(function(){
        if (this.is("checked") || $("#posting").is("checked") )
            $("#writebtn").prop( "disabled", true );
        else
            $("#writebtn").prop( "disabled", false );
    })
    
	document.getElementById("sentCheckBox").addEventListener("click", function(){
			if(document.getElementById("receiverEmail").style.display=="inline")
				document.getElementById("receiverEmail").style.display="none";
			else
				document.getElementById("receiverEmail").style.display="inline";
			
				
	});
</script>
